@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#header {
    margin-bottom: 15px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    font-size: 2rem;
}

.field {
    border: 3px solid black;
    margin: 2px;
    font-size: 7rem;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: baseline;

    user-select: none;
}

.un-checked:hover {
    border: 3px dashed black;
}

.win {
    background-color: black;
    color: white;
}

#headerContainer {
    width: 600px;

    display: flex;
    justify-content: space-between;


}

#restart {
    padding: 7px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid black;
}

#restart:hover {
    background-color: black;
    color: white;
}

.start {
    width: 80%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

form {
    width: 20%;
    box-sizing: border-box;
    margin: 10px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-button {
    height: 120px;
    width: 120px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    display: block;

    margin: 10px 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
}

#radio-buttons {
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    color: black;
    border: 3px solid black;
    border-radius: 50%;

    transform: translateY(0.2em);
}


input[type="radio"]:checked {
    background-color: black;
}

label {
    margin: 0px 10px;
}

@media only screen and (max-width: 700px) {
    #board {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(3, 150px);
    }

    .field {
        font-size: 5rem;
    }

    #headerContainer {
        width: 450px;
    }
}

@media only screen and (max-width: 500px) {
    #board {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }

    .field {
        font-size: 3.5rem;
    }

    #headerContainer {
        width: 300px;
    }
}